<!DOCTYPE html>
<html>
  <head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            }

            td {
            padding: 10px;
            vertical-align: top;
            }

            .left-column {
            text-align: right;
            width: 50%;
            border-right: 1px solid gray;
            }

            .right-column {
            text-align: left;
            width: 50%;
            }
    </style>
    
    <title>{{ _('Comparison') }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <table>
        <tr class="border-bottom mb-4">
          <td class="left-column">{{ _('You') }}</td>
          <td class="right-column">{{ _('Dog') }}</td> 
        </tr>
        <tr class="border-bottom mb-4">
          <td class="left-column">{% if comparison['u_mixed_breed'] %}
                                  {{ _('are fine with mixed breed dogs') }}
                                  {% else %}
                                  {{ _('prefer pure breed') }} {%endif%}
                                  </td>
          <td class="right-column"> {% if comparison['d_mixed_breed'] %}
                                    {{ _('is mixed breed') }}
                                    {% else %}
                                    {{ _('is pure breed ') }}
                                    {%endif%} </td>
        </tr>
        <tr class="border-bottom mb-4">
            <td class="left-column">{{ _('prefer') }} {% for breed in comparison['u_prefered_breed'][:-1]%} {{ breed }}, {% endfor %}{{comparison['u_prefered_breed'][-1]}} {{ _('breeds') }},
                {% for age in comparison['u_prefered_age'][:-1]%} {{ age }}, {% endfor %}{{comparison['u_prefered_age'][-1]}} {{ _('(age)') }} {{ _('and') }}
                {% for size in comparison['u_prefered_size'][:-1]%} {{ size }}, {% endfor %}{{comparison['u_prefered_size'][-1]}} {{ _('(size) dogs, with') }} 
                {% for color in comparison['u_prefered_color'][:-1]%} {{ color }}, {% endfor %}{{comparison['u_prefered_color'][-1]}} {{ _('(color) and') }}
                {{ comparison['u_prefered_coat_length'] }} {{ _('coat length') }}
            </td>
            <td class="right-column">{{ _('primary breed') }} {{ comparison['d_primary_breed'] }}, {{ comparison['d_age'] }}, {{ comparison['d_size']}} {{ _('size (estimated size of adult)') }},
              {{ _('primarily') }} {{ comparison['d_color'] }} {{ _('and') }} {{ comparison['d_coat_length'] }} {{ _('hair') }}  </td> 
        </tr> 
        <tr class="border-bottom mb-4">
          <td class="left-column">{% if comparison['u_spay_needed'] %}
                                  {{ _('need already spayed/neutered dog') }}
                                  {% else %}
                                  {{ _('can take care of spaying/neutering') }}
                                  <p> {{ _('(Note that this is an obligatory procedure as soon as the dog is mature enough!)') }}</p>
                                  {% endif %} </td>
          <td class="right-column">{% if comparison['d_spayed'] %}
                                  {{ _('is spayed/neutered') }}
                                  {% else %}
                                  {{ _('is not spayed/neutered') }}
                                  {% endif %}</td>
        </tr>
        <tr class="border-bottom mb-4">
          <td class="left-column">  {% if comparison['u_needs'] %}
                                    {{ _('your dog would be around') }}
                                    {% for being in comparison['u_needs'][:-1]%} {{ being }}, {% endfor %}{{comparison['u_needs'][-1]}}
                                    {% else %}
                                    {{ _('don\'t need dog to be adapted to children or other animals') }}
                                    {%endif%} 
          </td>
          <td class="right-column"> {% if comparison['d_compatibility'] %}
                                    {{ _('is known to be good with') }} 
                                    {% for being in comparison['d_compatibility'][0:-1]%} {{ being }},{% endfor %} {{comparison['d_compatibility'][-1]}} 
                                    {% else %}
                                    {{ _('isn\'t adapted to be around other animals or children or it is unknown') }}
                                    {%endif%} 
        </tr>
        <tr class="border-bottom mb-4">
          <td class="left-column">  {% if comparison['u_special_need'] %}
                                    {{ _('are open to adopting a dog with special needs') }} 
                                    {% else %}
                                    {{ _('are not open to adopting a dog with special need') }} 
                                    {%endif%}  
          </td>
          <td class="right-column">   {% if comparison['d_special_need'] %}
                                      {{ _('is special-needs dog') }}
                                      {% else %}
                                      {{ _('is not a special-needs dog') }}
                                      {%endif%}  </td>
        </tr>
        <tr class="border mb-4">
          <td class="left-column">  {{ _('could provide a') }} {{ comparison['u_activity'] }} {{ _('level of activity') }}{% if comparison['u_yard'] %}, {{ _('have a yard') }} {%else %}, {{ _(' don\'t have a yard') }}{% endif %}{% if comparison['u_park'] %}, {{ _('have a park nearby') }} {%else %}, {{ _('don\'t have a park nearby') }} {% endif %}

          </td>
          <td class="right-column"> {{ _('needs a') }} {{ comparison['d_activity'] }} {{ _('level of activity') }}
          </td>
        </tr>
        <tr class="border-bottom mb-4">
          <td class="left-column">  {% if comparison['u_dog_in_house'] %}
                                    {{ _('would keep a dog in a house if needed') }}
                                    {% else %}
                                    {{ _('wouldn\'t keep a dog in a house') }}
                                    {%endif%}
          </td>
          <td class="right-column"> {%if  comparison['d_age'] in ["puppy", "kuče"]  or  comparison['d_size'] in ["small","male"] %}
                                    {{ _('needs to live inside') }}
                                    {% else %}
                                    {{ _('doesn\'t need to live inside') }}
                                    {% endif %}
        </tr>
      </table>
      <br>
  </body>
</html>