<!DOCTYPE html>
<html>
  <head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            }

            td {
            padding: 10px;
            vertical-align: top;
            }
    </style>
    
    <title>{{ _('Dog info') }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <table>
        <tr class="border-bottom mb-4">
        
          <td >{{ _('Dog') }}</td> 
        </tr>
        <tr class="border-bottom mb-4">
         
          <td > {% if dog_info['d_mixed_breed'] %}
                                    {{ _('is mixed breed') }}
                                    {% else %}
                                    {{ _('is pure breed ') }}
                                    {%endif%} </td>
        </tr> 
        </tr>
        <tr class="border-bottom mb-4">
            
            <td >{{ _('primary breed') }} {{ dog_info['d_primary_breed'] }}, {{ dog_info['d_age'] }}, {{ dog_info['d_size'] }} {{ _('size (estimated size of adult)') }},
              {{ _('primarily') }} {{ dog_info['d_color'] }} {{ _('and') }} {{ dog_info['d_coat_length'] }} {{ _('hair') }}  </td> 
        </tr> 
        <tr class="border-bottom mb-4">
          
          <td >{% if dog_info['d_spayed'] %}
                                    {{ _('is spayed/neutered') }}
                                    {% else %}
                                    {{ _('is not spayed/neutered') }}
                                    {% endif %}</td>
        </tr>
        <tr class="border-bottom mb-4">
         
          <td > {% if dog_info['d_compatibility'] %}
            {{ _('is known to be good with ') }}
            {% for being in dog_info['d_compatibility'][0:-1]%} {{ being }},{% endfor %} {{dog_info['d_compatibility'][-1]}}
            {% else %}
            {{ _('isn\'t adapted to be around other animals or children or it is unknown') }}
          {%endif%} 
        </tr>
        <tr class="border-bottom mb-4">
          
          <td >   {% if dog_info['d_special_need'] %}
                                      {{ _('is special-needs dog') }}
                                      {% else %}
                                      {{ _('is not a special-needs dog') }}
                                      {%endif%} 
        </tr>
        <tr class="border-bottom mb-4">
          
          </td>
          <td > {{ _('needs a') }} {{ dog_info['d_activity'] }} {{ _('level of activity') }}
          </td>
        </tr>
        <tr class="border-bottom mb-4">
          
          <td > if dog_info['d_age'] in ["puppy", "kuče"] or dog_info['d_size'] in ["small", "male"]:
                                    {{ _('needs to live inside') }}
                                    {% else %}
                                    {{ _('doesn\'t need to live inside') }}
                                    {% endif %}
        </tr>
      </table>
      <br>
  </body>
</html>