<!DOCTYPE html>
<html>
  <head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            }

            td {
            padding: 10px;
            vertical-align: top;
            }
    </style>
    
    <title>Dog info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <table>
        <tr class="border-bottom mb-4">
        
          <td >Dog</td> 
        </tr>
        <tr class="border-bottom mb-4">
         
          <td > {% if dog_info['d_mixed_breed'] %}
                                      is mixed breed
                                    {% else %}
                                      is pure breed 
                                    {%endif%} </td>
        </tr> 
        </tr>
        <tr class="border-bottom mb-4">
            
            <td >primary breed {{ dog_info['d_primary_breed'] }}, {{ dog_info['d_age'] }}, {{ dog_info['d_size'] }} size (estimated size of adult),
                primarily {{ dog_info['d_color'] }} and {{ dog_info['d_coat_length'] }} hair  </td> 
        </tr> 
        <tr class="border-bottom mb-4">
          
          <td >{% if dog_info['d_spayed'] %}
                                      is spayed/neutered
                                    {% else %}
                                      is not spayed/neutered
                                    {% endif %}</td>
        </tr>
        <tr class="border-bottom mb-4">
         
          <td > {% if dog_info['d_compatibility'] %}
            is known to be good with 
            {% for being in dog_info['d_compatibility'][0:-1]%} {{ being }},{% endfor %} {{dog_info['d_compatibility'][-1]}}
          {% else %}
            isn't adapted to be around other animals or children or it is unknown
          {%endif%} 
        </tr>
        <tr class="border-bottom mb-4">
          
          <td >   {% if dog_info['d_special_need'] %}
                                        is special-needs dog
                                      {% else %}
                                        is not a special-needs dog 
                                      {%endif%} 
        </tr>
        <tr class="border-bottom mb-4">
          
          </td>
          <td > needs a {{ dog_info['d_activity'] }} level of activity
          </td>
        </tr>
        <tr class="border-bottom mb-4">
          
          <td > {%if  dog_info['d_age'] == "puppy"  or  dog_info['d_size'] == "small" %}
                                      needs to live inside
                                    {% else %}
                                      doesn't need to live inside
                                    {% endif %}
        </tr>
      </table>
      <br>
  </body>
</html>