{% extends "base.html" %} {% block title %}{{ _('Login') }}{% endblock %} {% block content
    %}
    <br>
    <form method="POST">
      {{ form.csrf_token }}
      <h3 text-align="center">{{ _('Login') }}</h3>
      <br>
      <div class="form-group">
        <label for="email">{{ _('Email Address') }}</label>
        {{ form.email(required=True, autofocus=True, class='form-control') }}
      </div>
      {% for error in form.email.errors %}
      <p class="help has-background-warning">
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </p>
      {% endfor %}
      <div class="form-group">
        <label for="password">{{ _('Password') }}</label>
        {{ form.password(required=True, autofocus=True, class='form-control') }}
      </div>
      {% for error in form.password.errors %}
      <p class="help has-background-warning">
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
      </p>
      {% endfor %}
      <br />
      <div class="form-group">
      <button type="submit" class="btn btn-primary">{{ _('Login') }}</button>
      </form>
      <small class="text-muted ml-2">
          <a href="{{ url_for('users.reset_request') }}">{{ _('Forgot Password?') }}</a>
      </small>
      </div>
      <small><a style="color:rgb(236, 66, 66);"  href="{{ url_for('users.resend_verification') }}">{{ _('Send verification mail again') }}</a>
      </small>
    <div class="border-top pt-3">
      <small class="text-muted">
        {{ _('Need An Account?') }} <a class="ml-2" href="{{ url_for('users.sign_up') }}">{{ _('Sign Up Now') }}</a>
      </small>
    </div>
  <br>
  <br>
  <br>
    {% endblock %}