{% extends "base.html" %} {% block title %}{{ title}}{% endblock %} 

{% block content %}
<style>
    .available-soon {
    text-align: center;
    margin: 20px;
    }

    .available-soon h1 {
    font-size: 24px;
    margin-bottom: 20px;
    }

    .available-soon img {
    width: 300px;
    border-radius: 8px;
    border-color:gray
    margin-bottom: 20px;
    }

    .available-soon p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    }

</style>
<div class="available-soon">
    <h1>Available Soon - Betty</h1>
    <img src="https://photos.petfinder.com/photos/pets/59782194/1/?bust=1624753614&width=300&-pn.jpg" alt="Betty">
    <p>Meet Betty! Betty is a friendly and affectionate dog who loves to play and cuddle. She's a great companion for anyone looking for a loyal and loving pet. She is available for adoption soon, so if you're interested in giving her a forever home, please contact Innocent Angels Sanctuary today!</p>
  </div>
{% endblock %}  