{% extends "base.html" %} {% block title %} {{ _('New Post') }}{% endblock %} 
{% block content %}
<script>

  function validateForm() {
    var submitfield = document.querySelectorAll('input[type="text"][name="a1"]');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a2"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a3"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a4"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a5"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a6"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a7"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a8"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a9"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a10"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a11"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a12"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a13"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a14"]:checked');
      


    if (radioBtns.length === 0) {
      alert("Please answer all the questions.");
      return false;
    }
    if (submitfield.length === 0) {
      alert("Please answer all the questions.");
      return false;
    }
    return true;
  }
</script>
<style>
  .questionnaire {
          width: 100%;
          
          padding: 20px;
          border: 0.1px solid rgb(190, 188, 188);
          border-radius: 10px;
          text-align: left;
          margin-bottom: 5%;
          background-color: #f2f2f2;
          border-radius: 10px;
          padding: 20px;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        }
    
        .question {
          margin-top: 20px;
        }
    
        label {
          font-weight: bold;
          margin-right: 10px;
        }
    
        input[type="radio"],
        input[type="checkbox"]{
          margin-right: 10px;
        }
        input[type="text"] {
          width: 15rem;
          margin-right: 10px;
          border: 0.1px solid rgb(190, 188, 188);
          border-radius: 5px;
        }
        input[type="submit"] {
          margin-top: 20px;
          padding: 10px 20px;
          background-color: rgb(77, 171, 202);
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        .colored-strip {
          position: absolute;
          left: 0;
          right: 0;
          top: 50px;
          width: 100%;
          background-color: #ebcb6e; 
          text-align: left;
          padding: 35px;
          color:#f2f2f2
        
        }

        @media only screen and (max-width: 768px) {

        .question {
          font-size: 0.9rem
        }
        h6 {
          font-size: 0.9rem;
          }
        
        p {
          font-size: 0.9rem;
        }
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown::after {
        content: "\25BC"; 
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width:max-content;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .checkbox {
        display: block;
        padding: 5px;
        font-size: 0.9rem
      }

      .checkbox label {
        display: inline-block;
        margin: 0 5px 0 0;
        font-weight: 400;
        font-size:0.9rem
      }

      .checkbox input {
          display: inline-block;
          margin: 0 5px 0 0;
          font-weight: 400;
          font-size: 0.9rem
        }

      .form-radio {
        list-style-type: none;
        font-weight: light;
      }
      .form-radio label{
        font-style: normal;
        font-weight: 400;
      }
</style>
<div class ="colored-strip">
  <h4 text-align = "center">{{ _('Adding a dog for adoption') }}</h4>
  <h7 text-align = "center">{{ _('Please try to provide accurate information to make adopting more successful.') }}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="content-section" style="margin-top: 3rem;">
  <form method="POST" action="" enctype="multipart/form-data" onsubmit="return validateForm();">    
    {{ form.hidden_tag() }}
    <div class="form-group">
      <p><label for="picture">{{ _('Upload a picture') }}</label></p>
      {{ form.picture( required = True, autofocus=True, class="form-control") }} 
    </div>
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"></legend>
          <div class="form-group">
              <p class="form-control-label" style="font-weight: bold;">{{ _('Name') }}</p>
              {% if form.title.errors %}
                  {{ form.title(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.title.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.title(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <legend class="border-bottom mb-4"></legend>
          <div class="form-group">
            <p class="form-control-label" style="font-weight: bold;">{{ _('Gender') }}</p>
            {% if form.gender.errors %}
                {{ form.gender(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.gender.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
            <p>{{ _(form.gender) }}</p>
            {% endif %}
          </div>
          <legend class="border-bottom mb-4"></legend>
          <div class="form-group">
            <p class="form-control-label" style="font-weight: bold;">{{ _('City') }}</p>
            {% if form.city.errors %}
                {{ form.city(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.city.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.city(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <legend class="border-bottom mb-4"></legend>
          <div class="form-group">
            <p class="form-control-label" style="font-weight: bold;">{{ _('Description') }}</p>
              {% if form.data.errors %}
                  {{ form.data(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.data.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.data(class="form-control form-control-lg") }}
              {% endif %}
          </div>
      </fieldset>
      <legend class="border-bottom mb-4"></legend>
      <div>
        <h6 text-align = "center">{{ _('Give us some details about your dogs in foster, so we can find a perfect human for them!') }}</h6>
        <div class="questionnaire" >
            <form method="POST" action=""  onsubmit="return validateForm();">
            <div class="question">
                <label for="a1">1. {{ _('What is dog\'s primary breed?') }}</label>
                <br>
                <div class="dropdown">
                  <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
                  <div class="dropdown-content">
                    {% for breed in breeds %}
                    <div class="checkbox">
                      <input type="radio" id="a1" name="a1" value="{{ breed }}">
                      <label for="a1">{{ breed }}</label>
                    </div>
                    {%endfor%}
                    <div class="checkbox">
                      <input type="radio" id="a1" name="a1" value="unknown"> 
                      <label for="a1">{{ _('Unknown')}}</label>
                    </div>
                    <div class="checkbox">
                      <input type="radio" id="a1-other" name="a1" value="{{ Other }}">
                      <label id ="a1-other-label" for="a1-other">{{ _('Other') }}</label>
                      <input type="text" id="a1-text" name="a1" placeholder="{{ _('Enter your answer') }}" style="display: none;"> 
                    </div>
                  </div>
            </div>

            <script>

              const otherRadio = document.getElementById("a1-other");
              const otherRadioLabel = document.getElementById("a1-other-label");
              const otherInput = document.getElementById("a1-text");
              const regularRadios = document.querySelectorAll('input[type="radio"][name="a1"]:not(#a1-other)');
              const a1Input = document.querySelector('input[name="a1"]');
              
              otherInput.addEventListener("input", function() {
                otherRadio.value = this.value;
              });
              otherRadio.addEventListener("change", function() {
                if (this.checked) {
                  otherInput.style.display = "block";
                  otherRadio.style.display = "none"; 
                  otherRadioLabel.style.display = "none";
                  a1Input.value = otherInput.value;
                } else {
                  otherInput.style.display = "none";
                  otherRadio.style.display = "block"; 
                }
              });

            
              regularRadios.forEach(function(radio) {
                radio.addEventListener("change", function() {
                  otherRadio.style.display = "inline-block";
                  otherInput.style.display = "none";
                  otherRadioLabel.style.display = "inline-block"; 
                });
              });
            </script>
            <div class="question">
                <label for="a2">2. {{ _('Is dog in your foster a mixed-breed dog?') }}</label>
                <br>
                <div class="dropdown">
                  <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
                <div class="dropdown-content">
                  <div class="checkbox"><input type="radio" id="a2" name="a2" value=1>{{ _('Yes') }}</div>
                  <div class="checkbox"><input type="radio" id="a2" name="a2" value=0>{{ _('No') }}</div>
                </div>
                </div>
            </div>

            <div class="question">
                <label for="a3">3. {{ _('What is the dog\'s age?') }}</label>
                <br>
                <div class="dropdown">
                  <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
                  <div class="dropdown-content">
                  <div class="checkbox"><input type="radio" id="a3" name="a3" value="puppy">{{ _('Puppy') }} </div>
                  <div class="checkbox"><input type="radio" id="a3" name="a3" value="young">{{ _('Young') }} </div> 
                  <div class="checkbox"><input type="radio" id="a3" name="a3" value="adult">{{ _('Adult') }} </div>
                  <div class="checkbox"><input type="radio" id="a3" name="a3" value="senior">{{ _('Senior') }} </div>
                  </div>
                </div>
            </div>

            <div class="question">
                <label for="a4">4. {{ _('What is the dog\'s estimated adult size?') }}</label>
                <br>
                <div class="dropdown">
                  <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
                  <div class="dropdown-content">
                  <div class="checkbox"><input type="radio" id="a4" name="a4" value="small">{{ _('Small') }}</div>
                  <div class="checkbox"><input type="radio" id="a4" name="a4" value="medium">{{ _('Medium') }} </div> 
                  <div class="checkbox"><input type="radio" id="a4" name="a4" value="large">{{ _('Large') }}</div>
                  </div>
                </div>
            </div>

              <div class="question">
                <label for="a5">5. {{ _('What is the primary color of the dog\'s coat?') }}</label>
                <br>
                <div class="dropdown">
                  <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
                  <div class="dropdown-content">
                  <div class="checkbox"><input type="radio" id="a5" name="a5" value="white">{{ _('White') }} </div> 
                  <div class="checkbox"><input type="radio" id="a5" name="a5" value="yellow">{{ _('Yellow') }} </div>
                  <div class="checkbox"><input type="radio" id="a5" name="a5" value="brown">{{ _('Brown') }} </div> 
                  <div class="checkbox"><input type="radio" id="a5" name="a5" value="gray">{{ _('Gray') }} </div>
                  <div class="checkbox"><input type="radio" id="a5" name="a5" value="black">{{ _('Black') }} </div>  
                  </div>
                </div>
            </div>

            <div class="question">
              <label for="a6">6. {{ _('Is this dog neutered/spayed?') }}</label>
              <br>
              <div class="dropdown">
                <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
                <div class="dropdown-content">
                <div class="checkbox"><input type="radio" id="a6" name="a6" value=1>{{ _('Yes') }}</div>
                <div class="checkbox"><input type="radio" id="a6" name="a6" value=0>{{ _('No') }}</div>
                </div>
              </div>
          </div>

          <div class="question">
            <label for="a7">7. {{ _('What is the dog\'s coat length?') }} </label>
            <br>
            <div class="dropdown">
              <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
              <div class="dropdown-content">
              <div class="checkbox"><input type="radio" id="a7" name="a7" value="short">{{ _('Short-haired') }}</div> 
              <div class="checkbox"><input type="radio" id="a7" name="a7" value="long">{{ _('Long-haired') }}</div>
              </div>
            </div>
          </div>

          <div class="question">
            <label for="a8">8. {{ _('Is this dog known to be good with children?') }} </label>
            <br>
            <div class="dropdown">
              <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
              <div class="dropdown-content">
              <div class="checkbox"><input type="radio" id="a8" name="a8" value=1>{{ _('Yes') }}</div>
              <div class="checkbox"><input type="radio" id="a8" name="a8" value=0>{{ _('No') }} </div>
              <div class="checkbox"><input type="radio" id="a8" name="a8" value=0>{{ _('Unknown') }}</div>
              </div>
            </div>
          </div>

          <div class="question">
            <label for="a9">9. {{ _('Is this dog known to be good with other dogs?') }} </label>
            <br>
            <div class="dropdown">
              <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
              <div class="dropdown-content">
              <div class="checkbox"><input type="radio" id="a9" name="a9" value=1>{{ _('Yes') }}</div>
              <div class="checkbox"><input type="radio" id="a9" name="a9" value=0>{{ _('No') }} </div>
              <div class="checkbox"><input type="radio" id="a9" name="a9" value=0>{{ _('Unknown') }}</div>
              </div>
            </div>
          </div>

          <div class="question">
            <label for="a10">{{ _('10. Is this dog known to be good with cats?') }}</label>
            <br>
            <div class="dropdown">
              <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
              <div class="dropdown-content">
              <div class="checkbox"><input type="radio" id="a10" name="a10" value=1>{{ _('Yes') }} </div> 
              <div class="checkbox"><input type="radio" id="a10" name="a10" value=0>{{ _('No') }} </div>
              <div class="checkbox"><input type="radio" id="a10" name="a10" value=0>{{ _('Unknown') }} </div>
              </div>
            </div>
          </div>

          <div class="question">
            <label for="a11">11. {{ _('Is this dog known to be good with small animals such as a hamster, rabbit, etc?') }} </label>
            <br>
            <div class="dropdown">
              <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
              <div class="dropdown-content">
              <div class="checkbox"><input type="radio" id="a11" name="a11" value=1>{{ _('Yes') }}</div>
              <div class="checkbox"><input type="radio" id="a11" name="a11" value=0>{{ _('No') }}</div>
              <div class="checkbox"><input type="radio" id="a11" name="a11" value=0>{{ _('Unknown') }} </div>
              </div>
            </div>
          </div>

          <div class="question">
            <label for="a12">{{ _('Is this dog known to be good with big animals such as cows, pigs, etc?') }} </label>
            <br>
            <div class="dropdown">
              <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
              <div class="dropdown-content">
              <div class="checkbox"><input type="radio" id="a12" name="a12" value=1>{{ _('Yes') }}</div>
              <div class="checkbox"><input type="radio" id="a12" name="a12" value=0>{{ _('No') }} </div>
              <div class="checkbox"><input type="radio" id="a12" name="a12" value=0>{{ _('Unknown') }} </div>
              </div>
            </div>
          </div>

          <div class="question">
            <label for="13">13. {{ _('Which level of activity does this dog need to have?') }} </label>
            <br>
            <div class="dropdown">
              <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
              <div class="dropdown-content">
              <div class="checkbox"><input type="radio" id="a13" name="a13" value="low">{{ _('Low') }} </div>
              <div class="checkbox"><input type="radio" id="a13" name="a13" value="medium">{{ _('Medium') }} </div>
              <div class="checkbox"><input type="radio" id="a13" name="a13" value="high">{{ _('High') }}</div>
              </div>
            </div>  
          </div>

          <div class="question">
            <label for="14">14. {{ _('Is this dog a special-needs dog?') }} </label>
            <br>
            <div class="dropdown">
              <span style="font-weight: 400; margin-left: 1.5rem;">{{_('Select the answer')}}</span>
              <div class="dropdown-content">
              <div class="checkbox"><input type="radio" id="a14" name="a14" value=1>{{ _('Yes') }}</div> 
              <div class="checkbox"><input type="radio" id="a14" name="a14" value=0>{{ _('No') }}</div>
              </div>
             </div>   
          </div>
          <input type="submit" value="{{ _('Post') }}">
      </div>
  </form>
</div>
<br>
{% endblock %}
  
      
            