{% extends "base.html" %} {% block title %}{{ title}}{% endblock %} 

{% block content %}
<script>
  const input = document.querySelector('#input');
  const submitBtn = document.querySelector('#a1');
  
  input.addEventListener('input', (event) => {
    submitBtn.value = event.target.value;
  });

  function validateForm() {
    var submitfield = document.querySelectorAll('input[type="text"][name="a1"]');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a2"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a3"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a4"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a5"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a6"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a7"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a8"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a9"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a10"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a11"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a12"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a13"]:checked');
    var radioBtns = document.querySelectorAll('input[type="radio"][name="a14"]:checked');
      


    if (radioBtns.length === 0) {
      alert("Please answer all the questions.");
      return false;
    }
    if (submitfield.length === 0) {
      alert("Please answer all the questions.");
      return false;
    }
    return true;
  }
</script>
<style>
  .questionnaire {
          width: 100%;
          
          padding: 20px;
          border: 0.1px solid rgb(190, 188, 188);
          border-radius: 10px;
          text-align: left;
          margin-bottom: 5%;
          background-color: #f2f2f2;
          border-radius: 10px;
          padding: 20px;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        }
    
        .question {
          margin-top: 20px;
        }
    
        label {
          font-weight: bold;
          margin-right: 10px;
        }
    
        input[type="radio"],
        input[type="checkbox"]{
          margin-right: 10px;
        }
        input[type="text"] {
          width: 15rem;
          margin-right: 10px;
          border: 0.1px solid rgb(190, 188, 188);
          border-radius: 5px;
        }
        input[type="submit"] {
          margin-top: 20px;
          padding: 10px 20px;
          background-color: rgb(77, 171, 202);
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        .colored-strip {
          position: absolute;
          left: 0;
          right: 0;
          top: 50px;
          width: 100%;
          background-color: #ebcb6e; 
          text-align: left;
          padding: 35px;
          color:#f2f2f2
        
        }
</style>
<div class ="colored-strip">
  <h4 text-align = "center">Adding a dog for adoption</h4>
  <h7 text-align = "center">Please try to provide accurate information to make adopting more successful.
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="content-section">
  <form method="POST" action="" enctype="multipart/form-data" onsubmit="return validateForm();">    
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="picture">Upload your picture</label>
      {{ form.picture( required = True, autofocus=True, class="form-control") }} 
    </div>
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"></legend>
          <div class="form-group">
              {{ form.title.label(class="form-control-label") }}
              {% if form.title.errors %}
                  {{ form.title(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.title.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.title(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <legend class="border-bottom mb-4"></legend>
          <div class="form-group">
            {{ form.gender.label(class="form-control-label") }}
            {% if form.gender.errors %}
                {{ form.gender(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.gender.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.gender }}
            {% endif %}
          </div>
          <legend class="border-bottom mb-4"></legend>
          <div class="form-group">
            {{ form.city.label(class="form-control-label") }}
            {% if form.city.errors %}
                {{ form.city(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.city.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.city(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <legend class="border-bottom mb-4"></legend>
          <div class="form-group">
              {{ form.data.label(class="form-control-label") }}
              {% if form.data.errors %}
                  {{ form.data(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.data.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.data(class="form-control form-control-lg") }}
              {% endif %}
          </div>
      </fieldset>
      <legend class="border-bottom mb-4"></legend>
      <div>
        <h6 text-align = "center">Give us some details about your dogs in foster, so we can find a perfect human for them!</h6>
        <div class="questionnaire" >
            <form method="POST" action=""  onsubmit="return validateForm();">
            <div class="question">
                <label for="a1">1. What is dog's primary breed? 'Unknown' is valid answer also. </label>
                <br>
                <input type="text" id="a1" name="a1" placeholder="Enter your answer"> 
            </div>
            <div class="question">
                <label for="a2">2. Is dog in your foster a mixed-breed dog?</label>
                <br>
                <input type="radio" id="a2" name="a2" value=1>Yes &nbsp &nbsp 
                <input type="radio" id="a2" name="a2" value=0>No 
            </div>

            <div class="question">
                <label for="a3">3. What is the dog's age?</label>
                <br>
                <input type="radio" id="a3" name="a3" value="puppy">puppy &nbsp &nbsp 
                <input type="radio" id="a3" name="a3" value="young">young &nbsp &nbsp 
                <input type="radio" id="a3" name="a3" value="adult">adult &nbsp &nbsp  
                <input type="radio" id="a3" name="a3" value="senior">senior &nbsp &nbsp
                 
            </div>

            <div class="question">
                <label for="a4">4. What is the dog's estimated adult size?</label>
                <br>
                <input type="radio" id="a4" name="a4" value="small">small &nbsp &nbsp 
                <input type="radio" id="a4" name="a4" value="medium">medium &nbsp &nbsp  
                <input type="radio" id="a4" name="a4" value="large">large &nbsp &nbsp
                 
            </div>

              <div class="question">
                <label for="a5">5. What is the primary color of the dog's coat?</label>
                <br>
                <input type="radio" id="a5" name="a5" value="white">white &nbsp &nbsp 
                <input type="radio" id="a5" name="a5" value="yellow">yellow &nbsp &nbsp
                <input type="radio" id="a5" name="a5" value="brown">brown &nbsp &nbsp 
                <input type="radio" id="a5" name="a5" value="gray">gray &nbsp &nbsp
                <input type="radio" id="a5" name="a5" value="black">black &nbsp &nbsp  
            </div>

            <div class="question">
              <label for="a6">6. Is this dog neutered/spayed?</label>
              <br>
              <input type="radio" id="a6" name="a6" value=1>Yes &nbsp &nbsp 
              <input type="radio" id="a6" name="a6" value=0>No &nbsp &nbsp
          </div>

          <div class="question">
            <label for="a7">7. What is the dog's coat lenght? </label>
            <br>
            <input type="radio" id="a7" name="a7" value="short">short-haired  &nbsp &nbsp 
            <input type="radio" id="a7" name="a7" value="long">long-haired &nbsp &nbsp
          </div>

          <div class="question">
            <label for="a8">8. Is this dog known to be good with children? </label>
            <br>
            <input type="radio" id="a8" name="a8" value=1>Yes &nbsp &nbsp 
            <input type="radio" id="a8" name="a8" value=0>No &nbsp &nbsp
            <input type="radio" id="a8" name="a8" value=0>Unknown &nbsp &nbsp
          </div>

          <div class="question">
            <label for="a9">9. Is this dog known to be good with other dogs? </label>
            <br>
            <input type="radio" id="a9" name="a9" value=1>Yes &nbsp &nbsp 
            <input type="radio" id="a9" name="a9" value=0>No &nbsp &nbsp 
            <input type="radio" id="a9" name="a9" value=0>Unknown &nbsp &nbsp
          </div>

          <div class="question">
            <label for="a10">10. Is this dog known to be good with cats?</label>
            <br>
            <input type="radio" id="a10" name="a10" value=1>Yes &nbsp &nbsp 
            <input type="radio" id="a10" name="a10" value=0>No &nbsp &nbsp
            <input type="radio" id="a10" name="a10" value=0>Unknown &nbsp &nbsp
          </div>

          <div class="question">
            <label for="a11">11. Is this dog known to be good with small animals such as a hamster, rabbit, etc? </label>
            <br>
            <input type="radio" id="a11" name="a11" value=1>Yes &nbsp &nbsp 
            <input type="radio" id="a11" name="a11" value=0>No &nbsp &nbsp
            <input type="radio" id="a11" name="a11" value=0>Unknown &nbsp &nbsp
          </div>

          <div class="question">
            <label for="a12">Is this dog known to be good with big animals such as cows, pigs, etc? </label>
            <br>
            <input type="radio" id="a12" name="a12" value=1>Yes &nbsp &nbsp 
            <input type="radio" id="a12" name="a12" value=0>No &nbsp &nbsp
            <input type="radio" id="a12" name="a12" value=0>Unknown &nbsp &nbsp
          </div>

          <div class="question">
            <label for="13">13. Which level of activity does this dog need to have? </label>
            <br>
            <input type="radio" id="a13" name="a13" value="low">Low &nbsp &nbsp 
            <input type="radio" id="a13" name="a13" value="medium">Medium &nbsp &nbsp
            <input type="radio" id="a13" name="a13" value="high">High &nbsp &nbsp
          </div>

          <div class="question">
            <label for="14">14. Is this dog a special-needs dog? </label>
            <br>
            <input type="radio" id="a14" name="a14" value=1>Yes &nbsp &nbsp 
            <input type="radio" id="a14" name="a14" value=0>No &nbsp &nbsp
          </div>
          <input type="submit" value="Post">
      </div>
  </form>
</div>
<br>
{% endblock %}
  
      
            