{% extends "base.html" %} {% block title %}{{ post.title }}{% endblock %} {% block content
    %}
    
  <style>
  
  .post-card{
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color:#e7e7e4;
    background-color: #f4f4f1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    }

    .post-card h5 {
    font-size: 24px;
    margin-bottom: 20px;
    
    }

    .post-card img {
    width: 300px;
    border-radius: 8px;
    border-color:gray;
    margin-bottom: 20px;
    }

    .post-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    }

    .post-card .button-container {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .post-card .button-container button {
      margin-right: 5px;
    }

    #pop-up {
        background-color: white;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        z-index: 1;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      }
    
    #pop-up2 {
      
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        z-index: 100;
        width: 50%;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }

    

    .modal-content {
      background-color: #fefefe;
      text-align: center;
      padding: 20px;
      border: 1px solid #888;
      width: 80%; 
    }

    .modal {
      text-align: center;
    }




      @media screen and (max-width: 768px) {
        #pop-up,#pop-up2 {
          display: none;
          position: fixed;
          width: 90%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        }
        
        .post-card {
          width: 90%;
          text-align: center;
          
        }
        .post-card h5 {
          font-size: 18px;
        }
        .post-card img {
          width: 80%
        }

        .post-card h5 {
          font-size: 18px;
        }

        .post-card h7 {
          font-size: 14px;
        }

        .post-card p {
          font-size: 14px;
        }
        .modal {
      text-align: center;
    }
      }
      

</style>
<div style="display:flex; flex-direction: column;">

<div class="post-card">
    <h5>{{ _('Meet') }} {{ post.title }}!</h5>
    <img src="{{ url_for('static', filename='profile_pics/' + post.image_file) }}" class="post img"alt="dog">
    <br>
    <h7 text-align="center"> {{ post.city }}, {{ _(post.gender) }} </h7>
    <legend class="border-bottom mb-4"></legend>
    <p>{{post.data}}</p>
</div>

    {% if post.user_id == user.id %}
    <div class="button-container">
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">{{ _('Update') }}</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
          {{ _('Delete') }}</button>
        <button id ="pop-up-button" class="btn btn-secondary btn-sm mt-1 mb-1" style="float:right;" >{{ _('Dog info') }}</button>
    </div>
  </div>
      <div id="pop-up" style="display:none";>
        <iframe src="{{ url_for('posts.dog_info', post_id=post.id) }}" width="100%" height="450" style=" border-style:hidden ;border-radius: 8px"></iframe>
        <button style="position:fixed; top:2px ;right:20px" class="btn btn-secondary btn-danger" data-dismiss="modal" onclick="document.getElementById('pop-up').style.display='none';">{{ _('Close') }}</button>
      </div>
    
    {% else %}
    <div class="button-container" style="text-align: center;" >
      <p style=" font-weight:bold;">{{ _('Thinking about adopting') }} {{post.title}}?</p>
      <button id ="pop-up-button2"  class="btn btn-danger btn-sm m-1" style="float:left">{{ _('Contact the foster parent') }}</button>
      <button id ="pop-up-button" class="btn btn-secondary btn-sm mt-1 mb-1" style="float:right">{{ _('Check the fit') }}</button>
    </div>

  </div>
    {% if user.user_info%}
    <div  id="pop-up" style="display:none";>
      <iframe src="{{ url_for('main.comparison', post_id=post.id) }}" width="100%" height="500" style=" border-style:hidden ;border-radius: 8px"></iframe>
      <button style="position:fixed; top:2px ;right:20px" class="btn btn-secondary btn-danger" data-dismiss="modal" onclick="document.getElementById('pop-up').style.display='none';">{{ _('Close') }}</button>
    </div>
      {% else %}
    <div  id="pop-up" style="display:none"; class="modal-content" >
      <br>
      {{ _('You need to fill out the') }} <a href="{{ url_for('users.user_info')}}">{{ _('adoption preferences') }}</a> {{ _('in order to see the compatibility result.') }}
      <button style="position:fixed; top:2px ;right:20px" class="btn btn-secondary btn-danger" data-dismiss="modal" onclick="document.getElementById('pop-up').style.display='none';">{{ _('Close') }}</button></div>
    {% endif %}
    
    
    <div id="pop-up2" style="display:none";>
      <iframe id="i-frame" src="{{ url_for('main.email_form', post_id=post.id) }}"  width="100%" height="450px" style=" border-style:hidden ;border-radius: 8px"></iframe>
      <button id="full-screen" style="position:fixed; top:2px ;right:90px" class="btn btn-secondary" data-dismiss="modal" style="color:white">Full screen</button>
      <button style="position:fixed; top:2px ;right:20px" class="btn btn-secondary btn-danger" data-dismiss="modal" onclick="document.getElementById('pop-up2').style.display='none';">{{ _('Close') }}</button>
    </div>
    {% endif %}
    <br>
    <br>

    <script>
      document.getElementById("pop-up-button").addEventListener("click", function() {
        document.getElementById("pop-up").style.display = "block";
      });

      document.getElementById("pop-up-button2").addEventListener("click", function() {
        document.getElementById("pop-up2").style.display = "block";
      });
      var iframe = document.getElementById('i-frame');
        var fullScreen = document.getElementById("full-screen")
        fullScreen.addEventListener('click', function() {
        iframe.style.width = '100%';
        iframe.style.height = '100%';
        window.location.href = iframe.src;
      });
    </script>
    
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="deleteModalLabel">{{ _('Delete Post?') }}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
      <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
        <input class="btn btn-danger btn-sm m-1" type="submit" value="{{_('Delete')}}">
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}