{% extends "base.html" %} {% block title %}Password reset {% endblock %} {% block
    content %}
    <br>
    <form method="POST">
        {{ form.csrf_token }}
        <h3 text-align="center">Password reset</h3>
        <br>
        <div class="form-group">
          <label for="password1">New password</label>
          {{ form.password1(required=True, autofocus=True, class='form-control') }}
        </div>
        {% for error in form.password1.errors %}
        <p class="help has-background-warning">
          <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </p>
        {% endfor %}
        <div class="form-group">
            <label for="password2">Confirm new password</label>
            {{ form.password2(required=True, autofocus=True, class='form-control') }}
          </div>
          {% for error in form.password2.errors %}
          <p class="help has-background-warning">
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ error }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </p>
          {% endfor %}
        <button type="submit" class="btn btn-outline-info">
          Reset password
        </button>
{%endblock%}
            
           