{% extends "base.html" %} {% block title %}Set up your profile{% endblock %} 

{% block content %}
<style>
  
  .colored-strip {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        width: 100%;
        background-color: #ebcb6e;
        padding: 35px;
        color:#f2f2f2;
  }

      
  .link {
    color: #f2f2f2;
    display: inline-block;
    padding: 0px
  }

  .link:hover {
    color: #f47b1e;
    }
</style>

<div class ="colored-strip">
  <h4 text-align = "center">Edit Account Info</h4>
  <h7 text-align = "center"><a href="\questionnaire" class="link">Would you also like to fill the adoption preferences form?</a></h7>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="content-section" style="margin-top: 40px;">
    <div class="media">
        <img class="rounded-circle account-img" style="width: 150px; height: 150px; object-fit: cover;" src="{{ image_file }}">
      <div class="media-body">
        <h5 class="account-heading text-muted" style="margin-top: 120px; margin-left: 20px;">{{ current_user.first_name }}</h4>
      </div>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"></legend>
        <div class="form-group">
          <label for="email">Email Address</label>
          {{ form.email(autofocus=True, class='form-control') }}
        </div>
        {% for error in form.email.errors %}
        <p class="help has-background-warning">
          <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
        </p>
        {% endfor %}
        <div class="form-group">
          <label for="first_name">First Name</label>
          {{ form.first_name(autofocus=True, class='form-control') }}
        </div>
        {% for error in form.first_name.errors %}
        <p class="help has-background-warning">
          {{ error }}
        </p>
        {% endfor %}
        <div class="form-group">
          <label for="picture">Upload your picture</label>
          {{ form.picture(autofocus=True, class="form-control") }} 
        </div>
        {% for error in form.picture.errors %}
          <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
        <br />
        <button  type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <br>
      
      {% endblock %}