<!DOCTYPE html>
<html>
  <head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            }

            td {
            padding: 10px;
            vertical-align: top;
            }
    </style>
    
    <title>{{ _('Your preferences') }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <table>
        <tr class="border-bottom mb-4">
          <td >{{ _('You') }}</td>
        </tr>
        <tr class="border-bottom mb-4">
          <td >{% if u_info['u_mixed_breed'] %}
                                  {{ _('are fine with mixed breed dogs') }}
                                  {% else %}
                                  {{ _('prefer pure breed') }} {%endif%}
                                  
                                </td>
          
        </tr>
        <tr class="border-bottom mb-4">
            <td >{{ _('prefer') }} {% for breed in u_info['u_prefered_breed'][:-1]%} {{ breed }}, {% endfor %}{{u_info['u_prefered_breed'][-1]}} {{ _('(breeds)') }}, 
              {% for age in u_info['u_prefered_age'][:-1]%} {{ age }}, {% endfor %}{{u_info['u_prefered_age'][-1]}} {{ _('(age)') }} {{ _('and') }}
              {% for size in u_info['u_prefered_size'][:-1]%} {{ size }}, {% endfor %}{{u_info['u_prefered_size'][-1]}} {{ _('(size), with') }}
              {% for color in u_info['u_prefered_color'][:-1]%} {{ color }}, {% endfor %}{{u_info['u_prefered_color'][-1]}} {{ _('(color) and') }}
              {{ u_info['u_prefered_coat_length'] }} {{ _('coat length') }}
        </tr> 
        <tr class="border-bottom mb-4">
          <td >{% if u_info['u_spay_needed'] %}
                                  {{ _('need already spayed/neutered dog') }}
                                  {% else %}
                                  {{ _('can take care of spaying/neutering') }}
                                  <p> {{ _('(Note that this is an obligatory procedure as soon as the dog is mature enough!)') }}</p>
                                  {% endif %} </td>
        </tr>
        <tr class="border-bottom mb-4">
          <td >  {% if u_info['u_needs'] %}
                                  {{ _('your dog would be around') }}
                                  {% for being in u_info['u_needs'][:-1]%} {{ being }}, {% endfor %}{{u_info['u_needs'][-1]}}
                                  {% else %}
                                  {{ _('don\'t need dog to be adapted to children or other animals') }}
                                  {%endif%} 
          </td>
        </tr>
        <tr class="border-bottom mb-4">
          <td >  {% if u_info['u_special_need'] %}
                                  {{ _('are open to adopting a dog with special needs') }} 
                                  {% else %}
                                  {{ _('are not open to adopting a dog with special needs') }} 
                                  {%endif%} 
          </td>
        <tr class="border mb-4">
          <td >  {{ _('could provide a') }} {{ u_info['u_activity'] }} {{ _('level of activity') }} {% if u_info['u_yard'] %}, {{ _('have a yard') }} {%else %}, {{ _('don\'t have a yard') }}{% endif %}{% if u_info['u_park'] %}, {{ _('have a park nearby') }} {%else %}, {{ _('don\'t have a park nearby') }} {% endif %}
          </td>
        </tr>
        <tr class="border-bottom mb-4">
          <td >   {% if u_info['u_dog_in_house'] %}
                                  {{ _('would keep a dog in a house if needed') }}
                                  {% else %}
                                  {{ _('wouldn\'t keep a dog in a house') }}
                                  {%endif%}
          </td>
        </tr>
      </table>
      <br>
  </body>
</html>